$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
@media screen and (min-width:505px){
    section{
        width:100%;
        padding:2em;
        position:relative;
        left:-5%;
        background-image:url("../assets/images/pattern-bg.svg");
        background-size:100% 100%;
        > img:first-child{
            max-width:320px;
            box-shadow:1px 1px 5px $Black;
        }
        div{
            max-width:70px;
            display:flex;
            align-items:center;
            justify-content:space-around;
            gap:2em;
            padding:0.5em 1.5em;
            border-radius:30px;
            box-shadow:2px 2px 5px $Black;
            position:relative;
            top:-1em;
            left:2em;
            background-color:$White;
            z-index:10;
            cursor:pointer;
        }
    }
}